body {
  font-family: "Roboto", sans-serif;
  background-color: pink;
  .general-container {
    width: 100vw;
    ul {
      li {
        h3 {
          text-transform: capitalize;
        }
      }
    }
    header {
      width: 100%;
      align-items: center;
      img {
        width: 50%;
        align-items: center;
      }
    }
  }
}
